<% provide(:title, "Sign in") %>
<%= form_for(:session, url: login_path) do |f| %>
<h1 class="text-center">Log In</h1>
  <div class="form-group">
  <%= f.label :email, class: 'form-text' %>
  <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :password, class: 'form-text' %>
  <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :remember_me do %>
  <%= f.check_box :remember_me %>
  <span>Remember me on this device</span>
  </div>
  <% end %>
  <%= f.submit "Log in", class: "btn btn-lg btn-block btn-primary mb-4" %>
  <%= link_to "Create an Account", signup_path, class: "btn btn-lg btn-block btn-primary mb-4" %>
<% end %>
