<p id="notice"><%= notice %></p>

<h1 class="text-center" >Movies</h1>

<% @movie_items.each do |movie| %>

<div class="card mb-3 movie" style="max-width: 48rem;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag "ugly_dvd.svg", class: "card-img-top", alt: "DVD Image" %>
    </div>
    <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title"><%= movie.item_type %></h5>
      <p class="card-text"><%= Movie.find_by( id: movie.movie_id ).name %></p>
      <p class="card-text">In-store: <%= movie.in_store %></p>
    </div>
    <div class="card-body">
      <%= link_to "View Movie", movie, class: "card-link" %>
      <% if is_admin? %>
        <%= link_to "Edit Item", edit_movie_item_path(movie), class: "card-link" %>
        <%= link_to "Delete Item", movie, method: :delete, data: { confirm: "Are you sure?" }, class: "card-link" %>
      <% end %>
    </div>
    </div>
  </div>
</div>
<% end %>

<%= link_to 'New Movie', new_movie_item_path %>
