<%= form_for(@movie, url: yield(:submit_url), :html => {class: "mb-4"}) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="text-center"><%= yield(:form_title) %></h1>

    <div class="form-group">
    <%= form.label :name, class: 'form-text' %>
    <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group", class: 'form-text'>
    <%= form.label :genre_id %>
    <%= form.collection_select(:genre_id, Genre.all, :id, :name,{ include_blank: "Select Genre"},{ class: 'form-control'}) %>
    </div>

    <div class="form-group">
    <%= form.label :release_date, class: 'form-text' %>
    <%= form.date_field :release_date, class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= form.label :minutes, class: 'form-text' %>
    <%= form.text_field :minutes, class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= form.label :description, class: 'form-text' %>
    <%= form.text_area :description, class: 'form-control' %>
    </div>

    <%= link_to "Add Actors", new_actor_movie_path, class: "btn btn-lg btn-block btn-primary" %>

    <%= form.submit yield(:submit_text), class: "btn btn-lg btn-block btn-primary"%>
<% end %>
