<p id="notice"><%= notice %></p>

<h1 class="text-center" >Movies</h1>
<div class="card" style="width: 18rem;">
  <%= image_tag "ugly_dvd.svg", class: "card-img-top", alt: "DVD Image" %>
    <div class="card-body">
    <h5 class="card-title">ActionDVD: The Movie</h5>
    <p class="card-text">An action-packed blockbuster- exclusively released for DVD.</p>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">View Movie</a>
    </div>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
