<%= javascript_include_tag "custom" %>
<p id="notice"><%= notice %></p>

<% dvd_count = @available_dvd.count %>
<% vhs_count = @available_vhs.count %>
<% genre     = Genre.find_by(id: @movie.genre_id) %>

<div class="card mb-3 movie" style="max-width: 48rem;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <% if vhs_count > 0 && dvd_count > 0 %>
        <%= image_tag "ugly_dvd_vhs.svg", class: "card-img-top", alt: "VHS/DVD Image" %>
      <% elsif vhs_count > 0 %>
        <%= image_tag "ugly_vhs.svg", class: "card-img-top", alt: "VHS Image" %>
        
      <% elsif dvd_count > 0 %>
        <%= image_tag "ugly_dvd.svg", class: "card-img-top", alt: "DVD Image" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <%= @movie.name %> </h5>
        <p class="card-text"> <%= @movie.description %> </h5>
        <p class="card-text">Genre: <%= genre.name %> </h5>
        <p class="card-text"><%= pluralize((vhs_count  == 0) ? 0 : vhs_count,'VHS')%> available</p>
        <p class="card-text"><%= pluralize((dvd_count == 0) ? 0 : dvd_count,'DVD')%> available</p>
        <h5 class="card-title">Cast</h5>
        <ol>
          <% @movie.actors.each do |actor| %>
            <% actor_movie = ActorMovie.find_by(actor_id: actor.id, movie_id: @movie.id) %>
            <li class="card-text"><%= link_to actor.name, actor %> <span onclick="RemoveActor(<%= actor_movie.id %>)">(Remove)</span></li>
          <% end %>
        </ol>
        <% if logged_in? %>
          <% if vhs_count > 0 %>
            <span class="mb-3 btn btn-primary" onclick="Borrow('VHS', <%= @available_vhs.first.id %>)">Borrow VHS</span>
          <% end %>

          <% if dvd_count > 0 %>
            <span class="mb-3 btn btn-primary" onclick="Borrow('DVD', <%= @available_dvd.first.id %>)">Borrow DVD</span>
          <% end %>

          <% if is_admin? %>
            <select id="actor_id" class='mb-3 form-control'>
            <%= options_from_collection_for_select(Actor.all, :id, :name) %>
            </select>
            <span class="btn btn-primary mb-3" onclick="AddActor(<%= @movie.id %>)">Add Actor</span>
            
          <% end %>

      <% end %>
      </div>
    </div>
  </div>
</div>
