<%= form_for(@user, url: yield(:submit_url), :html => {class: "mb-4"}) do |f| %>
 <% if @user.errors.any? %>
   <div id="error_explanation">
      <p>The form contains <%= pluralize(@user.errors.count, "error") %> </p>
      <ul>
        <% @user.errors.full_messages.each do |e| %>
          <li><%= e %> </li>
        <% end %>
      </ul>
   </div>
<% end %>
 <h1 class="text-center"> <%= yield(:form_title)%> </h1>
  <div class="form-group">
  <%= f.label :name, class: 'form-text' %>
  <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :dob, class: 'form-text' %>
  <%= f.date_field :dob, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :address, class: 'form-text' %>
  <%= f.text_area :address, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :email, class: 'form-text' %>
  <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :phone_number, class: 'form-text' %>
  <%= f.telephone_field :phone_number, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :password, class: 'form-text' %>
  <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :password_confirmation, "Confirm Password", class: 'form-text' %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <% if (is_admin? && !current_user?(@user)) %>
    <div class="form-group">
      <%= f.label :suspended do %>
      <%= f.check_box :suspended %>
      <span>Suspend User</span>
    </div>
    <% end %>
  <% end %>

  <%= f.submit yield(:submit_text) , class: "btn btn-lg btn-block btn-primary" %>

<% end %>
