<%= form_for(@actor_movie, url: yield(:submit_url), :html => {class: "mb-4"}) do |form| %>
  <% if actor_movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actor_movie.errors.count, "error") %> prohibited this actor_movie from being saved:</h2>

      <ul>
      <% actor_movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="text-center"> <%= yield(:form_title) %></h1>
  <div class="form-group">
    <%= form.label :actor_id, class: 'form-text' %>
    <%= form.select(:actor_id, options_from_collection_for_select(Actor.all, :id, :name), {include_blank: "Select Actor"} , {class: "form-control mb-4"}) %>

    <%= form.label :movie_id, class: 'form-text' %>
    <%= form.select(:movie_id, options_from_collection_for_select(Movie.all, :id, :name), { include_blank: "Select Movie" } , { class: "form-control mb-4"}) %>
    <%= form.submit yield(:submit_text), class: "btn btn-lg btn-block btn-primary" %>
  </div>
<% end %>
